language: go

go:
  - 1.8
  - tip

before_install:
  - go get -t -v ./...

script:
- go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
